
**/target/
**/build/
**/identity/


/.mvn/wrapper/maven-wrapper.properties

# STS / Eclipse / Spring Tools
.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache/

# IntelliJ
.idea/
*.iws
*.iml
*.ipr

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs / temp
*.log
*.tmp
